{% extends 'base.html.twig' %}

{% block title %}Mode d'envoi inscription{% endblock %}

{% block body %}
    <h1>Mode d'envoi inscription</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ mode_envoi_inscription.id }}</td>
            </tr>
            <tr>
                <th>Courrier</th>
                <td>{{ mode_envoi_inscription.courrier ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ mode_envoi_inscription.email ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('mode_envoi_inscription_index') }}">Retour</a>

    <a href="{{ path('mode_envoi_inscription_edit', {'id': mode_envoi_inscription.id}) }}">Modifier</a>

    {{ include('mode_envoi_inscription/_delete_form.html.twig') }}
{% endblock %}