{% extends 'base.html.twig' %}

{% block title %}{{ autorite_tribunal.autoriteNom }} {% endblock %}

{% block body %}
    <h1>{{ autorite_tribunal.autoriteNom }}</h1>

    <table class="table">
        <tbody>
            
            <tr>
                <th>Autorité</th>
                <td>{{ autorite_tribunal.autoriteNom }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('autorite_tribunal_index') }}"><button>retour</button></a>

    <a href="{{ path('autorite_tribunal_edit', {'id': autorite_tribunal.id}) }}"><button>Modifier</button></a>

{% endblock %}