{% extends 'base.html.twig' %}

{% block title %}Liste des services (tribunal){% endblock %}

{% block body %}
    <h1>Liste des services (tribunal)</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Service_nom</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for service_tribunal in service_tribunals %}
            <tr>
                <td>{{ service_tribunal.id }}</td>
                <td>{{ service_tribunal.serviceNom }}</td>
                <td>
                    <a href="{{ path('service_tribunal_show', {'id': service_tribunal.id}) }}">
                        <button class="btn">Voir</button>
                    </a>
                    <a href="{{ path('service_tribunal_edit', {'id': service_tribunal.id}) }}">
                        <button class="btn">Modifier</button>
                    </a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">Aucun service tribunal enregistré</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('service_tribunal_new') }}">
        <button class="btn">Modifier</button>
    </a>
{% endblock %}