{% extends 'base.html.twig' %}

{% block title %}Service Tribunal index{% endblock %}

{% block body %}
    <h1>Service Tribunal index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Service_nom</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for service_tribunal in service_tribunals %}
            <tr>
                <td>{{ service_tribunal.id }}</td>
                <td>{{ service_tribunal.serviceNom }}</td>
                <td>
                    <a href="{{ path('service_tribunal_show', {'id': service_tribunal.id}) }}">Voir</a>
                    <a href="{{ path('service_tribunal_edit', {'id': service_tribunal.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">Aucun service tribunal enregistré</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('service_tribunal_new') }}">Nouveau</a>
{% endblock %}