{% extends 'base.html.twig' %}

{% block title %}Prefecture index{% endblock %}

{% block body %}
    <h1>Prefecture index</h1>
  
    <table class="table">
        <thead>
            <tr>
                <th>Nom de la prefecture</th>
                <th>Adresse</th>
                <th>Code postal</th>
                <th>Commune</th>
            </tr>
        </thead>
        <tbody>
        <p><a href="{{ path('prefecture_new') }}">Créer une nouvelle préfecture</a></p>
        {% for prefecture in prefectures %}
            <tr>
                <td>{{ prefecture.prefectureNom }}</td>
                <td>{{ prefecture.adresse }}</td>
                <td>{{ prefecture.codePostal }}</td>
                <td>{{ prefecture.commune }}</td>
                <td><a href="{{ path('prefecture_edit', {'id': prefecture.id}) }}">éditer</a></td>
                <td>{{ include('prefecture/_delete_form.html.twig') }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


{% endblock %}