{% extends 'base.html.twig' %}

{% block title %}Liste préfectures{% endblock %}

{% block body %}
    <h1>Liste des préfectures</h1>
  
    <table class="table">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Adresse</th>
                <th>Code postal</th>
                <th>Commune</th>
            </tr>
        </thead>
        <tbody>
        <a href="{{ path('prefecture_new') }}"><button>Nouveau</button></a>

        {% for prefecture in prefectures %}
            <tr>
                <td>{{ prefecture.prefectureNom }}</td>
                <td>{{ prefecture.adresse }}</td>
                <td>{{ prefecture.codePostal }}</td>
                <td>{{ prefecture.commune }}</td>
                <td><a href="{{ path('prefecture_show', {'id': prefecture.id}) }}"><button>Voir</button></a></td>
                <td><a href="{{ path('prefecture_edit', {'id': prefecture.id}) }}"><button>Modifier</button></a></td>
                <td>{{ include('prefecture/_delete_form.html.twig') }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">Aucune préfecture enregistré</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('prefecture_new') }}"><button>Nouveau</button></a>

{% endblock %}