{% extends 'base.html.twig' %}

{% block title %}Préfecture{% endblock %}

{% block body %}
    <h1>Préfecture</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Nom</th>
                <td>{{ prefecture.prefectureNom }}</td>
            </tr>
            <tr>
                <th>Adresse</th>
                <td>{{ prefecture.adresse }}</td>
            </tr>
            <tr>
                <th>Code postal</th>
                <td>{{ prefecture.codePostal }}</td>
            </tr>
            <tr>
                <th>Commune</th>
                <td>{{ prefecture.commune }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('prefecture_index') }}"><button>Retour</button></a>

    <a href="{{ path('prefecture_edit', {'id': prefecture.id}) }}"><button>Modifier</button></a>

    {{ include('prefecture/_delete_form.html.twig') }}
{% endblock %}