{% extends 'base.html.twig' %}

{% block title %}Civilités{% endblock %}

{% block body %}
    <h1>Liste des civilités</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Civilités</th>
            </tr>
        </thead>
            <a href="{{ path('civilite_new') }}"><button>Nouveau</button></a>
        <tbody>
        {% for civilite in civilites %}
            <tr>
                <td>{{ civilite.nom }}</td>
                <td>
                    <a href="{{ path('civilite_show', {'id': civilite.id}) }}"><button>Voir</button></a>
                    <a href="{{ path('civilite_edit', {'id': civilite.id}) }}"><button>Modifier</button></a>
                </td>
                <td>
                     {{ include('civilite/_delete_form.html.twig') }}    
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">Aucune civilité enregistrée</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('civilite_new') }}"><button>Nouveau</button></a>
{% endblock %}