{% extends 'base.html.twig' %}

{% block title %}Permis index{% endblock %}

{% block body %}
    <h1>Permis index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Numero_permis</th>
                <th>Delivre_le</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for permi in permis %}
            <tr>
                <td>{{ permi.id }}</td>
                <td>{{ permi.numeroPermis }}</td>
                <td>{{ permi.delivreLe ? permi.delivreLe|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('permis_show', {'id': permi.id}) }}">show</a>
                    <a href="{{ path('permis_edit', {'id': permi.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('permis_new') }}">Create new</a>
{% endblock %}