{% extends 'base.html.twig' %}

{% block title %}Permis index{% endblock %}

{% block body %}

    <h1>Liste des permis</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Stagiaire</th>
                <th>Numéro de permis</th>
                <th>Delivré le</th>
          
            </tr>
        </thead>
        <a href="{{ path('permis_new') }}"><button>Nouveau</button></a>
        <tbody>
        {% for permi in permis %}
            <tr>
                <td>{{ permi.stagiaireId }}</td>
                <td>{{ permi.numeroPermis }}</td>
                <td>{{ permi.delivreLe ? permi.delivreLe|date('d/m/Y') : '' }}</td>
                <td>
                    <a href="{{ path('permis_show', {'id': permi.id}) }}"><button>Voir</button></a>
                    <a href="{{ path('permis_edit', {'id': permi.id}) }}"><button>Modifier</button></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">Aucun enregistrement de permis</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('permis_new') }}"><button>Nouveau</button></a>
{% endblock %}