{% extends 'base.html.twig' %} {% block title %}Liste lieux stage{% endblock %} {% block body %}
<h1>Liste des lieux de stage</h1>

<table class="table">
    <thead>
        <tr>
            <!--<th>Id</th>-->
            <th>Lieu de stage</th>
            <th>Établissement</th>
            <th>Adresse</th>
            <th>Code postal</th>
            <th>Commune</th>
            <th>Tel</th>
            <!--<th>Latitude</th>-->
            <!--<th>Longitude</th>-->
            <!--<th>Divers</th>-->
        </tr>
    </thead>
    <tbody>
        <a href="{{ path('lieu_stage_new') }}">
            <button> + Nouveau</button>
        </a>
        {% for lieu_stage in lieu_stages %}
        <tr>
            <!--<td>{{ lieu_stage.id }}</td>-->
            <td>{{ lieu_stage.lieuNom }}</td>
            <td>{{ lieu_stage.etablissementNom }}</td>
            <td>{{ lieu_stage.adresse }}</td>
            <td>{{ lieu_stage.codePostal }}</td>
            <td>{{ lieu_stage.commune }}</td>
            <td>{{ lieu_stage.tel }}</td>
            <!--<td>{{ lieu_stage.latitude }}</td>-->
            <!--<td>{{ lieu_stage.longitude }}</td>-->
            <!--<td>{{ lieu_stage.divers }}</td>-->
            <td>
                <a href="{{ path('lieu_stage_show', {'id': lieu_stage.id}) }}">
                    <button>Voir</button>
                </a>
            </td>
            <td>
                <a href="{{ path('lieu_stage_edit', {'id': lieu_stage.id}) }}">
                    <button>Modifier</button>
                </a>

            </td>
            <td>
                {{ include('lieu_stage/_delete_form.html.twig') }}
            </td>
        </tr>
        {% else %}
        <tr>
            <td colspan="11">Aucun enregistrement de lieu de stage</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<a href="{{ path('lieu_stage_new') }}">
    <button> + Nouveau</button>
</a>
{% endblock %}