{% extends 'base.html.twig' %}

{% block title %}Stagiaire{% endblock %}

{% block body %}
    <h1>Stagiaire</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ stagiaire.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ stagiaire.nom }}</td>
            </tr>
            <tr>
                <th>Nom_naissance</th>
                <td>{{ stagiaire.nomNaissance }}</td>
            </tr>
            <tr>
                <th>Prenom</th>
                <td>{{ stagiaire.prenom }}</td>
            </tr>
            <tr>
                <th>Date_naissance</th>
                <td>{{ stagiaire.dateNaissance ? stagiaire.dateNaissance|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Lieu_naissance</th>
                <td>{{ stagiaire.lieuNaissance }}</td>
            </tr>
            <tr>
                <th>Adresse</th>
                <td>{{ stagiaire.adresse }}</td>
            </tr>
            <tr>
                <th>Code_postal</th>
                <td>{{ stagiaire.codePostal }}</td>
            </tr>
            <tr>
                <th>Commune</th>
                <td>{{ stagiaire.commune }}</td>
            </tr>
            <tr>
                <th>Pays</th>
                <td>{{ stagiaire.pays }}</td>
            </tr>
            <tr>
                <th>Tel_portable</th>
                <td>{{ stagiaire.telPortable }}</td>
            </tr>
            <tr>
                <th>Tel_fixe</th>
                <td>{{ stagiaire.telFixe }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ stagiaire.email }}</td>
            </tr>
            <tr>
                <th>Carte_avantages_jeunes</th>
                <td>{{ stagiaire.carteAvantagesJeunes ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>Partenaires</th>
                <td>{{ stagiaire.partenaires ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>Adherents</th>
                <td>{{ stagiaire.adherents ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('stagiaire_index') }}">Retour</a>

    <a href="{{ path('stagiaire_edit', {'id': stagiaire.id}) }}">Modifier</a>

    {{ include('stagiaire/_delete_form.html.twig') }}
{% endblock %}