{% extends 'base.html.twig' %}

{% block title %}Fonction Animateur index{% endblock %}

{% block body %}
    <h1>Fonction Animateur index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Fonction_nom</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for fonction_animateur in fonction_animateurs %}
            <tr>
                <td>{{ fonction_animateur.id }}</td>
                <td>{{ fonction_animateur.fonctionNom }}</td>
                <td>
                    <a href="{{ path('fonction_animateur_show', {'id': fonction_animateur.id}) }}">Voir</a>
                    <a href="{{ path('fonction_animateur_edit', {'id': fonction_animateur.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">Aucune fonction animateur enregistrée</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('fonction_animateur_new') }}">Nouveau</a>
{% endblock %}