{% extends 'base.html.twig' %}

{% block title %}Animateurs{% endblock %}

{% block body %}
    <h1>Liste des fonctions</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Fonction</th>
            </tr>
        </thead>
        <tbody>
        <a href="{{ path('fonction_animateur_new') }}"><button>Nouveau</button></a>
        {% for fonction_animateur in fonction_animateurs %}
            <tr>
                <td>{{ fonction_animateur.fonctionNom }}</td>
                <td>
                    <a href="{{ path('fonction_animateur_show', {'id': fonction_animateur.id}) }}"><button>Voir</button></a>
                    <a href="{{ path('fonction_animateur_edit', {'id': fonction_animateur.id}) }}"><button>Modifier</button></a>
                   
                </td>
                <td>
                 {{ include('fonction_animateur/_delete_form.html.twig') }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">Aucune fonction animateur enregistrée</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('fonction_animateur_new') }}"><button>Nouveau</button></a>
{% endblock %}