{% extends 'base.html.twig' %}

{% block title %}Fonction Animateur{% endblock %}

{% block body %}
    <h1>Fonction : {{ fonction_animateur.fonctionNom}}</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Fonction</th>
                <td>{{ fonction_animateur.fonctionNom }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('fonction_animateur_index') }}">Retour</a>

    <a href="{{ path('fonction_animateur_edit', {'id': fonction_animateur.id}) }}"><button>Modifier</button></a>

    {{ include('fonction_animateur/_delete_form.html.twig') }}
{% endblock %}