{% extends 'base.html.twig' %}

{% block title %}SuiviDossier index{% endblock %}

{% block body %}
    <h1>SuiviDossier index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Paye</th>
                <th>Reception_bulletin_inscription</th>
                <th>Copie_cni</th>
                <th>Copie_permis</th>
                <th>Releve_integral</th>
                <th>Decision_judiciaire</th>
                <th>Lettre_48n</th>
                <th>Observations</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for suivi_dossier in suivi_dossiers %}
            <tr>
                <td>{{ suivi_dossier.id }}</td>
                <td>{{ suivi_dossier.paye ? 'Yes' : 'No' }}</td>
                <td>{{ suivi_dossier.receptionBulletinInscription ? 'Yes' : 'No' }}</td>
                <td>{{ suivi_dossier.copieCni ? 'Yes' : 'No' }}</td>
                <td>{{ suivi_dossier.copiePermis ? 'Yes' : 'No' }}</td>
                <td>{{ suivi_dossier.releveIntegral ? 'Yes' : 'No' }}</td>
                <td>{{ suivi_dossier.decisionJudiciaire ? 'Yes' : 'No' }}</td>
                <td>{{ suivi_dossier.lettre48n ? 'Yes' : 'No' }}</td>
                <td>{{ suivi_dossier.observations }}</td>
                <td>
                    <a href="{{ path('suivi_dossier_show', {'id': suivi_dossier.id}) }}">show</a>
                    <a href="{{ path('suivi_dossier_edit', {'id': suivi_dossier.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('suivi_dossier_new') }}">Nouveau</a>
{% endblock %}