{% extends 'base.html.twig' %}

{% block title %}SuiviDossier{% endblock %}

{% block body %}
    <h1>SuiviDossier</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ suivi_dossier.id }}</td>
            </tr>
            <tr>
                <th>Paye</th>
                <td>{{ suivi_dossier.paye ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>Reception_bulletin_inscription</th>
                <td>{{ suivi_dossier.receptionBulletinInscription ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>Copie_cni</th>
                <td>{{ suivi_dossier.copieCni ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>Copie_permis</th>
                <td>{{ suivi_dossier.copiePermis ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>Releve_integral</th>
                <td>{{ suivi_dossier.releveIntegral ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>Decision_judiciaire</th>
                <td>{{ suivi_dossier.decisionJudiciaire ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>Lettre_48n</th>
                <td>{{ suivi_dossier.lettre48n ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>Observations</th>
                <td>{{ suivi_dossier.observations }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('suivi_dossier_index') }}">back to list</a>

    <a href="{{ path('suivi_dossier_edit', {'id': suivi_dossier.id}) }}">edit</a>

    {{ include('suivi_dossier/_delete_form.html.twig') }}
{% endblock %}