{% extends 'base.html.twig' %}

{% block title %}SuiviDossier{% endblock %}

{% block body %}
    <h1>SuiviDossier</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Paye</th>
                <td>{{ suivi_dossier.paye ? 'Oui' : 'Non' }}</td>
            </tr>
            <tr>
                <th>Reception du bulletin d'inscription</th>
                <td>{{ suivi_dossier.receptionBulletinInscription ? 'Oui' : 'Non' }}</td>
            </tr>
            <tr>
                <th>Copie cni</th>
                <td>{{ suivi_dossier.copieCni ? 'Oui' : 'Non' }}</td>
            </tr>
            <tr>
                <th>Copie permis</th>
                <td>{{ suivi_dossier.copiePermis ? 'Oui' : 'Non' }}</td>
            </tr>
            <tr>
                <th>Releve integral</th>
                <td>{{ suivi_dossier.releveIntegral ? 'Oui' : 'Non' }}</td>
            </tr>
            <tr>
                <th>Decision judiciaire</th>
                <td>{{ suivi_dossier.decisionJudiciaire ? 'Oui' : 'Non' }}</td>
            </tr>
            <tr>
                <th>Lettre 48n</th>
                <td>{{ suivi_dossier.lettre48n ? 'Oui' : 'Non' }}</td>
            </tr>
            <tr>
                <th>Observations</th>
                <td>{{ suivi_dossier.observations }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('suivi_dossier_index') }}"><button>Retour</button></a>

    <a href="{{ path('suivi_dossier_edit', {'id': suivi_dossier.id}) }}"><button>Modifier</button></a>

    {{ include('suivi_dossier/_delete_form.html.twig') }}
{% endblock %}