{% extends 'base.html.twig' %}

{% block title %}Liste animateurs{% endblock %}

{% block body %}
    <h1>Liste des animateurs</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Gta</th>
                <th>Commune</th>
                <th>Téléphone portable</th>
                <th>Télépone fixe</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
        <a href="{{ path('animateur_new') }}"><button> + nouveau</button></a>
        {% for animateur in animateurs %}
            <tr>
                <td>{{ animateur.nom }}</td>
                <td>{{ animateur.prenom }}</td>
                <td>{{ animateur.gta ? 'Oui' : 'Non' }}</td>
                <td>{{ animateur.commune }}</td>
                <td>{{ animateur.telPortable }}</td>
                <td>{{ animateur.telFixe }}</td>
                <td>{{ animateur.email }}</td>
                <td><a href="{{ path('animateur_show', {'id': animateur.id}) }}"><button>Voir</button></a></td>
                <td><a href="{{ path('animateur_edit', {'id': animateur.id}) }}"><button>Modifier</button></a></td>
                <td>{{ include('animateur/_delete_form.html.twig') }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="17">Auncun animateur enregistré</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    
    <a href="{{ path('animateur_new') }}"><button> + nouveau</button></a>

{% endblock %}