{% extends 'base.html.twig' %}

{% block title %}Animateur index{% endblock %}

{% block body %}
    <h1>Animateur index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Gta</th>
                <th>Commune</th>
                <th>Tel_portable</th>
                <th>Tel_fixe</th>
                <th>Email</th>
                <th>Repas</th>
            </tr>
        </thead>
        <tbody>
        <p><a href="{{ path('animateur_new') }}">Créer un nouveau animateur</a></p>
        {% for animateur in animateurs %}
            <tr>
                <td>{{ animateur.nom }}</td>
                <td>{{ animateur.prenom }}</td>
                <td>{{ animateur.gta ? 'Oui' : 'Non' }}</td>
                <td>{{ animateur.commune }}</td>
                <td>{{ animateur.telPortable }}</td>
                <td>{{ animateur.telFixe }}</td>
                <td>{{ animateur.email }}</td>
                <td>{{ animateur.repas ? 'Oui' : 'Non' }}</td>
                <td>
                    <a href="{{ path('animateur_show', {'id': animateur.id}) }}">Voir</a>
                    <a href="{{ path('animateur_edit', {'id': animateur.id}) }}">Modifier</a>
                </td>
                <td>{{ include('animateur/_delete_form.html.twig') }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="17">Auncun animateur enregistré</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <p><a href="{{ path('animateur_new') }}">Créer un nouveau animateur</a></p>
{% endblock %}