{% extends 'base.html.twig' %}

{% block title %}Animateur{% endblock %}

{% block body %}
    <h1>Animateur</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ animateur.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ animateur.nom }}</td>
            </tr>
            <tr>
                <th>Prenom</th>
                <td>{{ animateur.prenom }}</td>
            </tr>
            <tr>
                <th>Gta</th>
                <td>{{ animateur.gta ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>Raison_sociale</th>
                <td>{{ animateur.raisonSociale }}</td>
            </tr>
            <tr>
                <th>Adresse</th>
                <td>{{ animateur.adresse }}</td>
            </tr>
            <tr>
                <th>Code_postal</th>
                <td>{{ animateur.codePostal }}</td>
            </tr>
            <tr>
                <th>Commune</th>
                <td>{{ animateur.commune }}</td>
            </tr>
            <tr>
                <th>Region</th>
                <td>{{ animateur.region }}</td>
            </tr>
            <tr>
                <th>Tel_portable</th>
                <td>{{ animateur.telPortable }}</td>
            </tr>
            <tr>
                <th>Tel_fixe</th>
                <td>{{ animateur.telFixe }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ animateur.email }}</td>
            </tr>
            <tr>
                <th>Urssaf</th>
                <td>{{ animateur.urssaf }}</td>
            </tr>
            <tr>
                <th>Siret</th>
                <td>{{ animateur.siret }}</td>
            </tr>
            <tr>
                <th>Km_a_r</th>
                <td>{{ animateur.kmAR }}</td>
            </tr>
            <tr>
                <th>Repas</th>
                <td>{{ animateur.repas ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('animateur_index') }}">back to list</a>

    <a href="{{ path('animateur_edit', {'id': animateur.id}) }}">edit</a>

    {{ include('animateur/_delete_form.html.twig') }}
{% endblock %}