{% extends 'base.html.twig' %}
{% block stylesheets %}<link rel="stylesheet" href="{{ asset('build/css/app.css') }}">{% endblock %}
{% block title %}Tribunal index{% endblock %}

{% block body %}
    <h1>Tribunal index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Tribunal_nom</th>
                <th>Adresse</th>
                <th>Code_postal</th>
                <th>Commune</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for tribunal in tribunals %}
            <tr>
                <td>{{ tribunal.id }}</td>
                <td>{{ tribunal.tribunalNom }}</td>
                <td>{{ tribunal.adresse }}</td>
                <td>{{ tribunal.codePostal }}</td>
                <td>{{ tribunal.commune }}</td>
                <td>
                    <a href="{{ path('tribunal_show', {'id': tribunal.id}) }}">show</a>
                    <a href="{{ path('tribunal_edit', {'id': tribunal.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('tribunal_new') }}">Create new</a>
{% endblock %}