{% extends 'base.html.twig' %}

{% block title %}Tribunal{% endblock %}

{% block body %}
    <h1>Tribunal</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ tribunal.id }}</td>
            </tr>
            <tr>
                <th>Tribunal_nom</th>
                <td>{{ tribunal.tribunalNom }}</td>
            </tr>
            <tr>
                <th>Adresse</th>
                <td>{{ tribunal.adresse }}</td>
            </tr>
            <tr>
                <th>Code_postal</th>
                <td>{{ tribunal.codePostal }}</td>
            </tr>
            <tr>
                <th>Commune</th>
                <td>{{ tribunal.commune }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('tribunal_index') }}">Retour</a>

    <a href="{{ path('tribunal_edit', {'id': tribunal.id}) }}">Modifier</a>

    {{ include('tribunal/_delete_form.html.twig') }}
{% endblock %}