{% extends 'base.html.twig' %}

{% block title %}Liste des cas de stage{% endblock %}

{% block body %}
    <h1>Liste des cas de stage</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Cas_nom</th>
                <th>Cas_prix</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for cas_stage in cas_stages %}
            <tr>
                <td>{{ cas_stage.id }}</td>
                <td>{{ cas_stage.casNom }}</td>
                <td>{{ cas_stage.casPrix }}</td>
                <td>
                    <a href="{{ path('cas_stage_show', {'id': cas_stage.id}) }}">
                        <button class="btn">Voir</button>
                    </a>
                    <a href="{{ path('cas_stage_edit', {'id': cas_stage.id}) }}">
                        <button class="btn">Modifier</button>
                    </a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">Aucun cas de stage enregistré</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('cas_stage_new') }}">
        <button class="btn">Nouveau</button>
    </a>
{% endblock %}