{% extends 'base.html.twig' %}

{% block title %}Cas de Stage{% endblock %}

{% block body %}
    <h1>Cas de Stage</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ cas_stage.id }}</td>
            </tr>
            <tr>
                <th>Cas_nom</th>
                <td>{{ cas_stage.casNom }}</td>
            </tr>
            <tr>
                <th>Cas_prix</th>
                <td>{{ cas_stage.casPrix }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('cas_stage_index') }}">
        <button class="btn">Retour</button>
    </a>

    <a href="{{ path('cas_stage_edit', {'id': cas_stage.id}) }}">
        <button class="btn">Modifier</button>
    </a>

    {{ include('cas_stage/_delete_form.html.twig') }}
{% endblock %}