{% extends 'base.html.twig' %}

{% block title %}Liste statuts animateur{% endblock %}

{% block body %}
    <h1>Liste des statuts animateur</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Nom</th>
            </tr>
        </thead>
        <tbody>
        <a href="{{ path('statut_animateur_new') }}">
            <button class="btn">Nouveau</button>
        </a>
        {% for statut_animateur in statut_animateurs %}
            <tr>
                <td>{{ statut_animateur.id }}</td>
                <td>{{ statut_animateur.statusNom }}</td>
                <td>
                    <a href="{{ path('statut_animateur_show', {'id': statut_animateur.id}) }}">
                        <button class="btn">Voir</button>
                    </a>
                </td>
                <td>
                    <a href="{{ path('statut_animateur_edit', {'id': statut_animateur.id}) }}">
                        <button class="btn">Modifier</button>
                    </a>
                </td>
                <td>{{ include('statut_animateur/_delete_form.html.twig') }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">Aucun statut animateur enregistré</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('statut_animateur_new') }}">
        <button class="btn">Nouveau</button>
    </a>
{% endblock %}