{% extends 'base.html.twig' %}

{% block title %}StatutAnimateur index{% endblock %}

{% block body %}
    <h1>StatutAnimateur index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Status_nom</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for statut_animateur in statut_animateurs %}
            <tr>
                <td>{{ statut_animateur.id }}</td>
                <td>{{ statut_animateur.statusNom }}</td>
                <td>
                    <a href="{{ path('statut_animateur_show', {'id': statut_animateur.id}) }}">
                        <button class="btn">Voir</button>
                    </a>
                    <a href="{{ path('statut_animateur_edit', {'id': statut_animateur.id}) }}">
                        <button class="btn">Modifier</button>
                    </a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">Aucun statut animateur enregistré</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('statut_animateur_new') }}">
        <button class="btn">Nouveau</button>
    </a>
{% endblock %}