{% extends 'base.html.twig' %}

{% block title %}StatutAnimateur{% endblock %}

{% block body %}
    <h1>StatutAnimateur</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ statut_animateur.id }}</td>
            </tr>
            <tr>
                <th>Status_nom</th>
                <td>{{ statut_animateur.statusNom }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('statut_animateur_index') }}">back to list</a>

    <a href="{{ path('statut_animateur_edit', {'id': statut_animateur.id}) }}">edit</a>

    {{ include('statut_animateur/_delete_form.html.twig') }}
{% endblock %}