{% extends 'base.html.twig' %}

{% block title %}AutoritePrefecture index{% endblock %}

{% block body %}
    <h1>AutoritePrefecture index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Autorite_nom</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for autorite_prefecture in autorite_prefectures %}
            <tr>
                <td>{{ autorite_prefecture.id }}</td>
                <td>{{ autorite_prefecture.autoriteNom }}</td>
                <td>
                    <a href="{{ path('autorite_prefecture_show', {'id': autorite_prefecture.id}) }}">show</a>
                    <a href="{{ path('autorite_prefecture_edit', {'id': autorite_prefecture.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('autorite_prefecture_new') }}">Create new</a>
{% endblock %}