{% extends 'base.html.twig' %}

{% block title %}Liste nature tribunal{% endblock %}

{% block body %}
    <h1>Listes des natures de tribunaux</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Nom</th>
            </tr>
        </thead>
        <tbody>
        <a href="{{ path('nature_tribunal_new') }}"><button> + nouveau</button></a>
        {% for nature_tribunal in nature_tribunals %}
            <tr>
                <td>{{ nature_tribunal.natureNom }}</td>
                <td>
                    <a href="{{ path('nature_tribunal_show', {'id': nature_tribunal.id}) }}"><button>Voir</button></a>
                    <a href="{{ path('nature_tribunal_edit', {'id': nature_tribunal.id}) }}"><button>Modifier</button></a>
                </td>
                <td>{{ include('nature_tribunal/_delete_form.html.twig') }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">Aucune nature de tribunal enregistrée</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('nature_tribunal_new') }}"><button> + nouveau</button></a>
{% endblock %}