{% extends 'base.html.twig' %}

{% block title %}Liste des stages{% endblock %}

{% block body %}
    <h1>Liste des stages</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Stage_numero</th>
                <th>Date</th>
                <th>Stage_hpo</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for stage in stages %}
            <tr>
                <td>{{ stage.id }}</td>
                <td>{{ stage.stageNumero }}</td>
                <td>{{ stage.date ? stage.date|date('Y-m-d') }}</td>
                <td>{{ stage.stageHpo ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('stage_show', {'id': stage.id}) }}">
                        <button class="btn">Voir</button>
                    </a>
                    <a href="{{ path('stage_edit', {'id': stage.id}) }}">
                        <button class="btn">Modifier</button>
                    </a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">Aucun stage enregistré</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('stage_new') }}">
        <button class="btn">Nouveau</button>
    </a>
{% endblock %}