{% extends 'base.html.twig' %}

{% block title %}Stage{% endblock %}

{% block body %}
    <h1>Stage</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Numéro de stage</th>
                <td>{{ stage.stageNumero }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ stage.date ? stage.date|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Hors programme officiel</th>
                <td>{{ stage.stageHpo ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('stage_index') }}">
        <button class="btn">Retour</button>
    </a>

    <a href="{{ path('stage_edit', {'id': stage.id}) }}">
        <button class="btn">Modifier</button>
    </a>

    {{ include('stage/_delete_form.html.twig') }}
{% endblock %}