{% extends 'base.html.twig' %}

{% block title %}Liste des services (préfecture){% endblock %}

{% block body %}
    <h1>Liste des services (préfecture)</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Service_nom</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for service_prefecture in service_prefectures %}
            <tr>
                <td>{{ service_prefecture.id }}</td>
                <td>{{ service_prefecture.serviceNom }}</td>
                <td>
                    <a href="{{ path('service_prefecture_show', {'id': service_prefecture.id}) }}">
                        <button class="btn">Voir</button>
                    </a>
                    <a href="{{ path('service_prefecture_edit', {'id': service_prefecture.id}) }}">
                        <button class="btn">Modifier</button>
                    </a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">Aucun service enregistré</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('service_prefecture_new') }}">
        <button class="btn">Nouveau</button>
    </a>
{% endblock %}