{% extends 'base.html.twig' %}

{% block title %}ServicePrefecture index{% endblock %}

{% block body %}
    <h1>ServicePrefecture index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Service_nom</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for service_prefecture in service_prefectures %}
            <tr>
                <td>{{ service_prefecture.id }}</td>
                <td>{{ service_prefecture.serviceNom }}</td>
                <td>
                    <a href="{{ path('service_prefecture_show', {'id': service_prefecture.id}) }}">show</a>
                    <a href="{{ path('service_prefecture_edit', {'id': service_prefecture.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('service_prefecture_new') }}">Create new</a>
{% endblock %}