{% extends 'base.html.twig' %}

{% block title %}Forfait Animateur index{% endblock %}

{% block body %}
    <h1>Forfait Animateur index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Forfait_prix</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for forfait_animateur in forfait_animateurs %}
            <tr>
                <td>{{ forfait_animateur.id }}</td>
                <td>{{ forfait_animateur.forfaitPrix }}</td>
                <td>
                    <a href="{{ path('forfait_animateur_show', {'id': forfait_animateur.id}) }}">Voir</a>
                    <a href="{{ path('forfait_animateur_edit', {'id': forfait_animateur.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">Aucun forfait enregistré</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('forfait_animateur_new') }}"><button>Nouveau</button></a>
{% endblock %}