{% extends 'base.html.twig' %}

{% block title %}Type d'infraction index{% endblock %}

{% block body %}
    <h1>Type d'infraction index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Type_infraction</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for type_infraction in type_infractions %}
            <tr>
                <td>{{ type_infraction.id }}</td>
                <td>{{ type_infraction.typeInfraction }}</td>
                <td>
                    <a href="{{ path('type_infraction_show', {'id': type_infraction.id}) }}">Voir</a>
                    <a href="{{ path('type_infraction_edit', {'id': type_infraction.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">Aucun enregistrement de type d'infraction</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('type_infraction_new') }}">Nouveau</a>
{% endblock %}